.btntest{
  width: fit-content;
}

.overlay{
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.288);
}

.modal{
  height: 80%;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.screen{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-bar{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(155, 155, 155, 0.575);
}

.aside{
  height: 100vh;
  width: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #442D7C;
  color: white;
  font-weight: 300;
  font-size: 14px;
  padding: 20px 0px;
}

.aside-icon{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 7px 20px;
  cursor: pointer;
}

.aside-icon:hover{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #7000c0;
  cursor: pointer;
}

.main{
  width: calc(100% - 250px);
  height: 100vh;
}


.main-tasks-item{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
}

/*Viniedos screen*/

.scroll-container{
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 50px);
  /*Estas dos son opcionales*/
  display: flex;
  flex-direction: column;
}



.scroll-container::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
background-color: #b6b6b6; /* Color del thumb (agarre) */
border-radius: 8px; /* Borde redondeado del thumb */
}

.scroll-container::-webkit-scrollbar-track {
background-color: #fff; /* Color del track (rastro) */
border-radius: 8px; /* Borde redondeado del track */
}



/* height of the container */
.leaflet-container {
  height: 60vh;
  width: 60%;
}


/*HOME SCREEN*/

.home-screen{
  display: grid;
  grid-template-columns: 1.5fr 400px;
  position: relative;
  box-sizing: border-box;
  gap: 10px;
}

.home-screen-left-col{
  width: 100%;
  box-sizing: border-box;
}


.home-screen-right-col{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-screen-grid{
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  padding: 10px;
  gap: 15px;
}


.home-screen-grid-item{
  border-radius: 10px;
  /*
  background-color: #793FDF;
  */
  background-color: #442D7C;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-screen-taks-container{
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 20px 5px 10px;
  background-color: #dadada;
  overflow-y: scroll;
}




.home-screen-taks-container::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.home-screen-taks-container::-webkit-scrollbar-thumb {
  background-color: #9e9e9e; /* Color del thumb (agarre) */
  border-radius: 8px; /* Borde redondeado del thumb */
}

.home-screen-taks-container::-webkit-scrollbar-track {
  background-color:  rgb(218, 218, 218); /* Color del track (rastro) */
  border-radius: 8px; /* Borde redondeado del track */
}



.home-screen-tasks-item{
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}


.home-waether-container{
  width: 100%;
  height: 100px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
  gap: 10px;
  justify-content: center;
}

.home-waether-info{
  display: flex;
  font-size: 11px;
  gap: 15px;
}

/* Establecer el ancho del calendario 
.react-calendar {
  font-size: 12px;
}

*/

.react-calendar { 
  font-size: 13px;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  line-height: 1.125em;
  padding: 10px 20px;
  
 }
 .react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
 }
 abbr[title] {
  text-decoration: none;
 }
 /* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
 } */
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
 }
 .react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
 }
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}


/*Viniedos section*/

.viniedos-home-grid{
  width: 100%;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: #442D7C;
}

.viniedos-home-grid-col{
  height: 100%;
  width: 100%;
}

.viniedos-home-grid-col-left{
  border-radius: 0px 20px 20px 0px;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
}

.viniedos-home-grid-col-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.viniedos-home-grid-col-left-list{
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  padding: 0px 10px;
}

.viniedos-item{
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  font-size: 14px;
}

.viniedos-screen-header{
  width: 85%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 120px;
  gap: 20px;
  padding: 0px 20px;
  margin-bottom: 30px;
}


.viniedos-screen-header-item{
  background: #ffffff;
  box-shadow:  20px 20px 60px #a3a3a3,
               -20px -20px 60px #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.viniedos-map-section{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
}