.btntest{
  width: fit-content;
}

.overlay{
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.288);
}

.modal{
  height: 80%;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.screen{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-bar{
  height: 50px;
  width: 100%;
  background-color: green;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}

.aside{
  height: 100vh;
  width: 200px;
  background-color: red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.aside-icon{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: pink;
  cursor: pointer;
}

.aside-icon:hover{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: purple;
  cursor: pointer;
}

.main{
  width: calc(100% - 200px);
  height: 100vh;
  background-color: pink;
}


.main-tasks-item{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
}

/*Viniedos screen*/

.scroll-container{
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 50px);
  /*Estas dos son opcionales*/
  display: flex;
  flex-direction: column;
}


/* height of the container */
.leaflet-container {
  height: 60vh;
  width: 60%;
}
